<!-- Loop over each topic in the topics array -->
{{#each topics as |topic|}}
<div class="row mb-4">
  <div class="col-md-5">
    <h3>
      <a href="/topic/{{topic.id}}">{{topic.name}}</a></h3>
  </div>
  <div class="col-md-7">
    <button id="addCommentBtn">Click here to add comment!</button>
    <p id="userComment" class="hide" >{{topic.comment}}</p>
  </div>
</div>
{{/each}}

<div class="text-center">
  <p>{{user.comment}}</p>
  <p>Created by {{username}}</p>
  <button id="saveBtn">Save</button><button id="submitBtn">Submit</button>
</div>

<script src="./js/server.js"></script>
