{{!-- <div class="text-center">
  <p>{{user.comment}}</p>
  <p>Created by {{username}}</p>
  <button id="saveBtn">Save</button><button id="submitBtn">Submit</button>
</div> --}}

<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>By: {{painting.artist}}</p>
  </div>
</section>